
.list-link {
    padding: 0.25em 0;
    padding-left: 1em;
    border-bottom: 2px solid transparent;
}

.list-link-selected {
    border-bottom: 2px solid #669;
}

.padded-radio {
    padding-left: 1em;
    padding-right: 0.25em;
}

.ns-list {
    display: inline-block;
    margin-left: 2em;
}

.inline-stats {
    font-weight: normal;
    font-size: 75%;
    font-style: italic;
}

.label-item {
    display: inline-block;
    padding-bottom: 0.25em;
}

pre.wrapped {
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre.prettyprint {
    border: none;
}

.hide {
    display: none;
}